<template>
  <v-row justify="center" no-gutters>
    <v-col cols="12" md="6" class="text-center">
      <h1 class="font-weight-light">About page</h1>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "menu-about",
}
</script>

<style scoped>

</style>