  <template>
    <v-row justify="center" no-gutters>
      <v-col cols="12" md="9">
        <!--Поиск студентов-->
        <custom-field
          class="mt-4"
          v-model="searchStudent"
          label="Name, phone, email"
          prepend-inner-icon="mdi-magnify" />

        <!--Счетчик найденных пользователей-->
        <h1 class="font-weight-light">Found: {{ searchStudents(searchStudent).length }}</h1>

        <!--Таблица студентов-->
        <data-table :headers="headers">
          <tr v-for="student in searchStudents(searchStudent)" :key="student.id">
            <td><v-avatar><v-img :src="student.image"></v-img></v-avatar></td>
            <td>
              <router-link
                :to="'/students/' + student.id"
                tag="span" class="link text-primary text-decoration-none"
              >
                {{ student.firstName }} {{ student.lastName }}
              </router-link>
            </td>
            <td> {{ student.username }} </td>
            <td> {{ student.birthDate }} </td>
            <td> {{ student.email }} </td>
            <td> {{ student.phone }} </td>
          </tr>
        </data-table>

        <!--Лоадер загрузки данных-->
        <v-col class="text-center">
          <custom-circular v-if="getStudents.length === 0" />
        </v-col>
      </v-col>
    </v-row>
  </template>
  <script>
  import {mapActions, mapGetters} from "vuex";
  import DataTable from "@/components/DataTable";

    export default {
      components: {DataTable},
      data() {
        return {
          searchStudent: null,
          headers: [
            "Avatar",
            "Name",
            "Username",
            "Birthdate",
            "Email",
            "Phone",
          ],
        }
      },
      mounted() {
        setTimeout(()=> {
          this.fetchStudents()
        },400)
      },
      computed: {
        ...mapGetters(['getStudents', 'searchStudents']),
      },
      methods: {
        ...mapActions(['fetchStudents']),
      }
    }
  </script>