<template>
  <v-row justify="center" no-gutters>
    <v-col cols="12" md="4" class="text-center">
      <h1 class="font-weight-light">Student Details</h1>
      <v-card v-if="getSelectedStudent" class="text-left">
        <v-col cols="12" class="text-center">
          <v-avatar size="200"><v-img :src="getSelectedStudent.image"></v-img></v-avatar>
          <h1 class="font-weight-light">{{ getSelectedStudent.firstName }} {{ getSelectedStudent.lastName }}</h1>
        </v-col>
        <v-card-title class="font-weight-regular" v-for="(value) in details" :key="value">
          {{ value }}: {{ getSelectedStudent[value] }}
        </v-card-title>
      </v-card>
      <v-col class="text-center" v-else>
        <custom-circular />
      </v-col>
    </v-col>
  </v-row>
</template>

<script>
import {mapGetters, mapActions} from "vuex";

export default {
  props: ['id'],
  data() {
    return {
      details: [
        'age',
        'birthDate',
        'gender',
        'username',
        'email',
        'phone',
      ]
    };
  },
  computed: {
    ...mapGetters(['getSelectedStudent'])
  },
  methods: {
    ...mapActions(['fetchStudentById'])
  },
  created() {
    const studentId = Number(this.$route.params.id);
    this.fetchStudentById(studentId);
  },
};
</script>
