<template>
  <v-row justify="center" no-gutters>
    <v-col cols="12" md="4" class="text-center">
      <h1 class="font-weight-light">Lector Stuff</h1>
      <custom-field
        prepend-inner-icon="mdi-magnify"
        v-model="teacher"
        label="Name, phone, email" />
      <h1 class="font-weight-light">Found: {{ searchTeacher(teacher).length }}</h1>
      <v-card
        class="ma-2 text-center"
        elevation="6"
        v-for="item in searchTeacher(teacher)" :key="item.id">
        <v-img max-height="300" :src="item.image"></v-img>
        <v-card-title class="text-h5">{{ item.firstName }} {{ item.lastName }}</v-card-title>
        <v-card-title>age: {{ item.age }}</v-card-title>
        <v-card-title>phone: {{ item.phone }}</v-card-title>
        <v-card-title>email: {{ item.email }}</v-card-title>
        <v-card-title>birthdate: {{ item.birthDate }}</v-card-title>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {mapGetters, mapActions} from "vuex";

export default {
  name: "Stuff",
  data() {
    return {
      teacher: null
    }
  },
  mounted() {
    this.fetchTeachingStuff()
  },
  computed: {
    ...mapGetters(['searchTeacher', 'getTeachingStuff']),
  },
  methods: {
    ...mapActions(['fetchTeachingStuff'])
  }
}
</script>

<style scoped>

</style>