<template>
  <v-row justify="center" no-gutters>
    <v-col cols="12" md="6" class="text-center">
      <h1 class="font-weight-light">Write to support</h1>
      <v-container>
        <custom-field :rules="[rules.required]" v-model="title" variant="underlined" label="Message" />
        <custom-textarea :rules="[rules.required]" v-model="text" label="Description" />
         <v-file-input
            v-model="files"
            color="deep-purple-accent-4"
            counter
            label="File input"
            multiple
            placeholder="Select your files"
            prepend-icon="mdi-paperclip"
            variant="underlined"
            :show-size="1000"
          >
            <template v-slot:selection="{ fileNames }">
              <template v-for="(fileName, index) in fileNames" :key="fileName">
                <v-chip
                  v-if="index < 2"
                  color="deep-purple-accent-4"
                  label
                  size="small"
                  class="me-2"
                >
                  {{ fileName }}
                </v-chip>

                <span
                  v-else-if="index === 2"
                  class="text-overline text-grey-darken-3 mx-2"
                >
                  +{{ files.length - 2 }} File(s)
                </span>
              </template>
            </template>
          </v-file-input>
        <custom-button @click="submitForm" />
      </v-container>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Support",
  data() {
    return {
      files: [],
      title: null,
      text: null,
      rules: {
        required: value => !!value || 'Field is required',
      },
    }
  },
  methods: {
    submitForm() {
      const form = {
        id: Date.now(),
        title: this.title,
        text: this.text,
        files: this.files
      }
      console.log(form);
      this.title = this.text = this.files = null
    }
  }
}
</script>

<style scoped>

</style>