<template>
  <v-row justify="center" no-gutters>
    <v-col cols="12" md="5" class="text-center">
      <h1 class="font-weight-light ma-2">User Profile</h1>
      <v-card v-if="!editMode">
        <v-row justify="end">
          <v-btn @click="editProfile" class="ma-3 elevation-0" icon="mdi-wrench"></v-btn>
        </v-row>
        <v-avatar size="180">
          <v-img
            src="https://sun9-51.userapi.com/impg/7I2dElJXrcWdWL9fGRpPV4qkX8yQSrZ3hVhWmw/oCdhZUKJzBo.jpg?size=564x564&quality=95&sign=12714ae57d97b25897c714322dcef43a&type=album"
            alt="John"
          ></v-img>
        </v-avatar>
        <v-container class="text-left">
          <h2 class="font-weight-regular">{{ userProfile.first_name }}</h2>
          <h2 class="font-weight-regular">{{ userProfile.last_name }}</h2>
          <h3 class="font-weight-light">Email: {{ userProfile.email }}</h3>
          <h3 class="font-weight-light">Group: {{ userProfile.group }}</h3>
        </v-container>
      </v-card>
      <v-card v-else>
        <v-form class="ma-2">
          <h1 class="font-weight-light">Edit</h1>
          <custom-field :rules="[rules.required]" label="First name" v-model="userProfile.first_name" />
          <custom-field :rules="[rules.required]" label="Last name" v-model="userProfile.last_name" />
          <custom-field :rules="[rules.required]" label="Email" v-model="userProfile.email" />
          <custom-field :rules="[rules.required]" label="Group" v-model="userProfile.group" />
          <custom-button @click="editMode=false">Save</custom-button>
        </v-form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  data() {
    return {
      editMode: false,
      rules: {
        required: value => !!value || 'Field is required',
      },
    }
  },
  computed: {
    ...mapGetters(['getUserProfile']),
    userProfile() {
      return this.getUserProfile;
    }
  },
  mounted() {
    this.fetchUserProfile();
  },
  methods: {
    ...mapActions(['fetchUserProfile']),
    editProfile() {
      this.editMode = true
    }
  }
};
</script>
