<template>
<v-carousel
  show-arrows="hover"
  class="mt-4"
  hide-delimiter-background
  cycle>
  <v-carousel-item
    src="https://www.acquisition-international.com/wp-content/uploads/2021/05/Business-tech.jpg"
    cover
  ></v-carousel-item>

  <v-carousel-item
    src="https://wallpapers.com/images/hd/programming-hd-nutnj7cgiprbs1j2.jpg"
    cover
  ></v-carousel-item>

  <v-carousel-item
    src="https://learn.g2.com/hubfs/What_is_Information_Technology.jpg"
    cover
  ></v-carousel-item>
</v-carousel>
</template>

<script>
export default {
  name: "CarouselPics"
}
</script>

<style scoped>

</style>