<template>
  <v-row justify="center" no-gutters>
    <v-col cols="12" md="9">
      <v-container>
        <h1 class="text-md-h2 ma-2 font-weight-thin">UberSystem</h1>
        <text-container />
        <carousel-pics />
        <timelines-cards />
      </v-container>
    </v-col>
  </v-row>
</template>

<script>
import { defineComponent } from 'vue';
import TextContainer from "@/views/home/TextContainer";
import CarouselPics from "@/views/home/CarouselPics";
import TimelinesCards from "@/views/home/TimelinesCards";

export default defineComponent({
  name: 'Home',
  components: {
    TimelinesCards,
    CarouselPics,
    TextContainer
  },
});
</script>