<template>
  <v-container class="container elevation-4">
    <h2 class="text-md-h4 font-weight-light">{{ text }}</h2>
  </v-container>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'TextContainer',
  components: {
  },
  data() {
    return {
      text: 'Welcome. Welcome to Uber Generation.\n' +
          ' I thought so much of Uber Generation that I elected to establish my Administration here.' +
          ' I have been proud to call Uber Generation my home.' +
          ' And so, whether you are here to stay, or passing through on your way to parts unknown,' +
          ' welcome to Uber Generation. It\'s safer here.',
    }
  }
});
</script>
<style scoped>
.container {
  position: relative;
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #8bcfd9;
  animation: pulse 3s infinite alternate;
}

.container::before {
  left: 0;
}

.container::after {
  right: 0;
}

@keyframes pulse {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
</style>