<template>
  <v-timeline direction="vertical" class="timeline">
    <v-timeline-item
      v-for="(item, i) in items"
      :key="i"
      :dot-color="item.color"
      :icon="item.icon"
      fill-dot
    >
      <v-card class="neon-card">
        <v-card-title :class="['text-h6', `bg-${item.color}`]">
          Lorem Ipsum Dolor
        </v-card-title>
        <v-card-text class="text-h6 font-weight-regular">
          <p>Lorem ipsum dolor sit amet, no nam oblique veritus. Commune scaevola imperdiet nec ut, sed euismod convenire principes at. Est et nobis iisque percipit, an vim zril disputando voluptatibus, vix an salutandi sententiae.</p>
        </v-card-text>
      </v-card>
    </v-timeline-item>
  </v-timeline>
</template>

<script>
  export default {
    name: "TimelinesCards",
    data: () => ({
      items: [
        {
          color: 'teal-lighten-3',
          icon: 'mdi-star',
        },
        {
          color: 'light-blue-accent-1',
          icon: 'mdi-book-variant',
        },
        {
          color: 'blue-grey-darken-1',
          icon: 'mdi-airballoon',
        },
        {
          color: 'teal-accent-3',
          icon: 'mdi-layers-triple',
        },
      ],
    }),
  }
</script>

<style scoped>
.neon-card {
  border: 2px rgba(0, 163, 154, 0.8) solid;
  position: relative;
  transition: border-color 0.3s ease-in-out;
  box-shadow: 0 0 25px rgba(0, 163, 154, 0.8);

}

.neon-card:hover {
  border-color: rgba(191, 229, 227, 0.8);
  box-shadow: 0 0 20px rgba(191, 229, 227, 0.8);
}

@media (max-width: 600px) {
  .timeline {
    display: block;
  }
}
</style>