<template>
  <v-col cols="6" md="3" class="pa-1">
    <router-link
      :to="item.to"
      class="text-decoration-none">
      <v-card elevation="4">
        <v-card-item class="text-center">
          <v-img :src="item.src"></v-img>
          <v-card-title>{{ item.title }}</v-card-title>
        </v-card-item>
      </v-card>
    </router-link>
  </v-col>
</template>

<script>
export default {
  name: "CardMenu",
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>