<template>
  <v-row justify="center">
    <card-menu
      v-for="item in menuItems"
      :key="item.id"
      :item="item">
    </card-menu>
  </v-row>
</template>

<script>
import CardMenu from "@/views/menu/components/CardMenu";
export default {
  name: "MenuList",
  components: {CardMenu},
  props: {
    menuItems: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>

</style>