<template>
  <v-bottom-navigation
    bg-color="black"
    class="hidden-md-and-up"
    grow
  >
    <v-btn
      v-for="button in bottomNavButtons"
      :key="button.to"
      :to="button.to">
      <v-icon>{{ button.icon }}</v-icon>
      <span>{{ button.label }}</span>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
import { ref } from 'vue';

export default {
  name: "BottomNavigation",
  setup() {
  const bottomNavButtons = ref([
    { to: '/', icon: 'mdi-home', label: 'Home' },
    { to: '/news', icon: 'mdi-message-text', label: 'News' },
    { to: '/menu', icon: 'mdi-widgets', label: 'Menu' },
    { to: '/profile', icon: 'mdi-account', label: 'Profile' },
  ]);

  return {
    bottomNavButtons,
    };
  },
}
</script>

<style scoped>

</style>