<template>
  <v-snackbar
    :color="color"
    v-model="snackbar"
    :timeout="timeout"
  >
    {{ message }}

    <template v-slot:actions>
      <CustomButton @click="snackbar = false">Close</CustomButton>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  name: "CustomSnackbar",
  props: {
    message: String,
    color: String,
    timeout: Number
  },
  data() {
    return {
      snackbar: false
    }
  }
}
</script>
