<template>
  <v-table>
    <thead>
      <tr>
        <th v-for="header in headers" class="text-left">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <slot></slot>
    </tbody>
  </v-table>
</template>

<script>
export default {
  name: "DataTable",
  props: {
    headers: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>

</style>