<template>
  <custom-button
    class="button"
    v-if="showScrollButton"
    @click="scrollTop"
  >
    <v-icon>mdi-chevron-up</v-icon>
  </custom-button>
</template>

<script>
export default {
  name: "ScrollUpButton",
  data() {
    return {
      showScrollButton: false
    }
  },
  methods: {
    scrollTop () {
      window.scrollTo({top: 0, behavior: 'smooth'});
  },
    toggleToTopButton() {
      const scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
      if (scrollPosition > 300) {
        this.showScrollButton = true;
      } else {
        this.showScrollButton = false;
      }
    },
  },
  created() {
    window.addEventListener('scroll', this.toggleToTopButton);
  }
}
</script>

<style scoped>
.button {
  border-radius: 15px;
  border: 3px solid white;
  width: 64px;
  height: 64px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 100px;
  z-index: 1000;
  background: rgb(0, 0, 0, .7);
  color: white;
}
@media (max-width: 768px) {
  .button {
    bottom: 60px;
    right: 10px;
    font-size: 17px;
    border-radius: 15px;
    height: 65px;
  }
}
</style>