<template>
  <v-row justify="center" no-gutters>
    <v-col cols="12" md="6">
      <!--Карточка новости-->
      <v-card
        class="mt-4 elevation-6 card"
        v-if="getSelectedPost">
        <v-img
          max-height="150"
          src="@/assets/news.png"
          cover
        >
        </v-img>

        <!--Форма редактирования новости-->
        <v-container v-if="isEditMode">
          <h1 class="font-weight-light">Edit News</h1>
          <custom-field :rules="[rules.required]" label="Title" v-model="editedTitle" />
          <custom-textarea :rules="[rules.required]" label="Content" v-model="editedContent" />
          <custom-button @click="saveChanges" color="green">Save</custom-button>
        </v-container>

        <!--Карточка новости-->
        <v-container v-else>
          <v-card-text class="text-h5 font-weight-bold" style="line-height: 1.2;">{{ getSelectedPost.title }}</v-card-text>
          <v-divider class="border-opacity-25" :thickness="2"></v-divider>
          <v-card-text class="text-h5" style="line-height: 1.2;">{{ getSelectedPost.content }}</v-card-text>
        </v-container>

        <!--Кнопки после карточки-->
        <v-card-actions>
          <custom-button @click="$router.push('/news')">Back to News</custom-button>
          <custom-button
            @click="openEditMode"
            :color= "isEditMode ? 'red' : 'green'">
            {{ isEditMode ? 'cancel' : 'edit'}}
          </custom-button>
        </v-card-actions>
      </v-card>

      <!--Лоадер загрузки-->
      <v-col class="text-center" v-else>
        <custom-circular />
      </v-col>

      <!--Уведомление об успешном редактировании-->
      <custom-snackbar
        :timeout="timeout"
        :message="message"
        color="green"
        v-model="snackbar" />
    </v-col>
  </v-row>
</template>

<script>
import { defineComponent } from 'vue';
import { mapGetters, mapActions } from 'vuex';
import CustomSnackbar from "@/components/CustomSnackbar";

export default defineComponent({
  name: 'NewsDetail',
  components: {CustomSnackbar},
  data() {
    return {
      isEditMode: false,
      editedTitle: null,
      editedContent: null,
      snackbar : false,
      timeout: 900,
      message: 'News successfully updated!',
      rules: {
        required: value => !!value || 'Field is required',
      }
    }
  },
  computed: {
    ...mapGetters(['getSelectedPost']),
  },
  created() {
    const postId = Number(this.$route.params.id);
    this.fetchNewsById(postId);
  },
  methods: {
    ...mapActions(['fetchNewsById', 'updateNews']),
    openEditMode() { // Открытие формы редактирования
      this.isEditMode = !this.isEditMode
      if(this.isEditMode) {
        this.editedTitle = this.getSelectedPost.title
        this.editedContent = this.getSelectedPost.content
      }
    },
    async saveChanges() { // Сохранение изменений
      if (this.editedTitle && this.editedContent !== '') { // если поля ввода не пустые, то
        try {
          const postId = this.getSelectedPost.id;
          const editedTitle = this.editedTitle;
          const editedContent = this.editedContent;
          // Запрос на update
          const response = await this.updateNews({ postId, editedTitle, editedContent });

          if (response) { // если успешно, то присваиваем к getSelectedPost
            this.getSelectedPost.title = editedTitle;
            this.getSelectedPost.content = editedContent;
            this.isEditMode = false;
            this.snackbar = true
          } else { // Error alert
          }
        } catch (e) {console.error(e);
        }
      }
    }
  }
});
</script>
<style scoped>
.card {
  border-radius: 15px;
}
</style>
