<template>
  <v-row justify="center" no-gutters>
    <v-col cols="12" md="6" class="text-center">
      <!--Есть посты / нет постов (Закрепленных тоже)-->
      <header-news :has-posts="hasPosts" />

      <!--Поиск новостей-->
      <v-row class="mt-2" no-gutters>
        <v-col cols="12" md="6">
          <custom-field
            prepend-inner-icon="mdi-magnify"
            label="Search news"
            v-model="searchPost"
          />
        </v-col>

        <!--Фильтр по тегам-->
        <v-col cols="12" md="3">
          <v-select class="pl-md-3" label="Filter tag" :items="items"  variant="underlined" ></v-select>
        </v-col>

        <!--Кнопка открытия формы для добавления новости-->
        <v-col align-self="center" cols="12" md="3">
          <custom-button @click="toggleForm">
            {{ openForm ? 'Close form' : 'Add news' }}
          </custom-button>
        </v-col>
      </v-row>

      <!--Выпадающая форма для добавления новости-->
      <v-form
        @submit.prevent="submitForm"
        class="ma-3 elevation-6 pa-3"
        v-if="openForm">
        <h1 class="font-weight-light">Create news</h1>
        <custom-field :rules="[rules.required]" v-model="title" label="Title" />
        <custom-textarea :rules="[rules.required]" v-model="content" label="Content" />
        <v-select v-model="tag" :rules="[rules.required]" variant="underlined" label="Tag" :items="items"></v-select>
        <custom-button>Create</custom-button>
      </v-form>

      <!--Карточка новостей в ленте-->
      <v-card
        class="ma-3 elevation-6 card"
        v-for="post in SearchPosts(searchPost)" :key="post.id"
      >
        <!--Картинка в карточке новости-->
        <v-img
          height="100"
          src="@/assets/news.png"
          cover
        >
          <!--Верхняя панель с кнопкой dots-->
          <v-toolbar color="rgba(0, 0, 0, 0)">
            <template v-slot:append>
              <v-menu>
                <template v-slot:activator="{ props }">
                  <v-btn
                    color="white"
                    v-bind="props"
                    icon="mdi-dots-vertical"
                  >
                  </v-btn>
                </template>
                <!--Выпадающие кнопки из меню-->
                <v-list class="ma-3">
                  <v-list-item>
                    <v-list-item-title>
                      <custom-button color="green"><v-icon>mdi-pencil</v-icon></custom-button>
                      </v-list-item-title>
                    <v-list-item-title>
                      <custom-button color="blue"><v-icon>mdi-pin</v-icon></custom-button>
                    </v-list-item-title>
                    <v-list-item-title>
                      <!--Диалоговое окно удаления-->
                      <v-dialog
                        v-model="dialog[post.id]"
                        width="400px"
                      >
                        <template v-slot:activator="{ props }">
                          <!--Открытие диалогового окна по кнопке-->
                          <custom-button color="red" v-bind="props">
                            <v-icon>mdi-delete</v-icon>
                          </custom-button>
                        </template>
                        <!--Карточка диалога-->
                        <v-card>
                          <!--Верхняя вставка с текстом dialog-->
                          <v-toolbar
                            color="red"
                            title="Confirm action"
                          ></v-toolbar>

                          <!--Текст с подтверждением-->
                          <v-card-text>
                            <h2 class="font-weight-light">Do you really want to delete:</h2>
                            <h2 class="font-weight-bold">"{{ post.title }}"</h2>
                          </v-card-text>

                          <!--Кнопки подтверждения dialog-->
                          <v-card-actions class="justify-space-between">
                            <custom-button @click="deletePost(post.id)" color="red">Delete</custom-button>
                            <custom-button @click="dialog[post.id] = false">Cancel</custom-button>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </template>
          </v-toolbar>
        </v-img>
<!--        Заголовок новости-->
        <v-card-text class="text-h5 font-weight-medium" style="line-height: 1.2;">{{ post.title }}</v-card-text>
<!--        Описание новости-->
        <v-card-title class="text-h6 font-weight-regular">{{ post.content }}</v-card-title>
<!--        Нижние кнопки-->
        <v-card-actions>
          <v-row justify="space-between" class="ma-1">
            <custom-button @click="openNewsDetail(post.id)">Read more</custom-button>
            <v-chip color="red" label><v-icon start icon="mdi-label"></v-icon>Order</v-chip>
            <h3 class="font-weight-light mt-1">23.09.2023</h3>
          </v-row>
        </v-card-actions>
      </v-card>

      <!--Уведомление об успешном ДОБАВЛЕНИИ новости-->
      <custom-snackbar
        v-model="createSnackbar"
        v-if="createSnackbar"
        :message="textCreate"
        color="success"
        :timeout="timeout" />

      <!--Уведомление об успешном УДАЛЕНИИ новости-->
      <custom-snackbar
        v-model="deleteSnackbar"
        v-if="deleteSnackbar"
        :message="textDelete"
        color="red"
        :timeout="timeout" />
    </v-col>
  </v-row>
</template>

<script>
import { defineComponent } from 'vue';
import {mapActions, mapGetters} from 'vuex'
import CustomSnackbar from "@/components/CustomSnackbar";
import HeaderNews from "@/views/news/components/HeaderNews";

export default defineComponent({
  name: 'news',
  components: {
    HeaderNews,
    CustomSnackbar
  },
  data() {
    return {
      items: [
        { title: 'All' },
        { title: 'Order' },
        { title: 'Event' },
        { title: 'Announcing' },
      ],
      searchPost: null,
      openForm: false,
      title: null,
      content: null,
      tag: null,
      createSnackbar: false,
      deleteSnackbar: false,
      textCreate: 'News successfully created!',
      textDelete: 'News successfully deleted!',
      timeout: 1200,
      dialog: {},
      rules: {
        required: value => !!value || 'Field is required',
      }
    };
  },
  computed: {
    ...mapGetters(['getPosts', 'SearchPosts']),
    hasPosts() { // проверка на наличие постов
      return this.getPosts.length > 0
    }
  },
  mounted() {
    this.fetchNews()
  },
  methods: {
    ...mapActions(['fetchNews', 'createNews', 'deleteNews']),
    async submitForm() {
      if (this.title && this.content && this.tag) { // проверка на непустые поля
        const formData = {
          title: this.title,
          content: this.content,
          tag: this.tag
        }
        await this.createNews(formData) // отправка формы
        this.title = this.content = null // очищение формы
        this.openForm = false
        this.createSnackbar = true
      }
    },
    async deletePost(postId) { // удаление поста
      this.deleteSnackbar = true
      await this.deleteNews(postId)
      this.dialog[postId] = false
    },
    openNewsDetail(postId) { // Открытие детального просмотра
      this.$router.push({ name: 'news-detail', params: { id: postId } });
  },
    toggleForm() {
      this.openForm = !this.openForm
    },
  }
});
</script>

<style scoped>
.card {
  border-radius: 15px;
}
</style>
