<template>
  <v-textarea
    counter
    clearable
    :rules="rules"
    variant="underlined"
    :label="label"
    v-model.trim="searchValue"
  >
  </v-textarea>
</template>

<script>
export default {
  name: "CustomTextarea",
  props: {
    label: String,
    value: String,
    rules: Object
  },
  computed: {
    searchValue: {
      get() {
        return this.value;
      },
      set(newValue) {
        this.$emit('input', newValue);
      },
    },
  },
}
</script>

<style scoped>

</style>