<template>
  <v-btn
    class="font-weight-regular"
    variant="outlined"
    type="submit">
    <slot>Submit</slot>
  </v-btn>
</template>

<script>
export default {
  name: "CustomButton"
}
</script>

<style scoped>

</style>