<template>
  <v-alert
    :class="localShake ? 'shake-alert' : ''"
    v-show="show"
    :icon="icon"
    :title="title"
    :type="type"
    variant="tonal"
    @animationend="resetShake"
  ></v-alert>
</template>

<script>
export default {
  name: "CustomAlert",
  props: {
    show: Boolean,
    icon: String,
    title: String,
    type: String,
  },
  data() {
    return {
      localShake: false, // Локальное состояние для тряски
    };
  },
  methods: {
    resetShake() {
      this.localShake = false;
    },
    shakeAlert() {
      this.localShake = true;
    },
  },
};
</script>

<style scoped>
.shake-alert {
  animation: shake .5s;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-5px);
  }
  20%, 80% {
    transform: translateX(5px);
  }
  30%, 50%, 70% {
    transform: translateX(-10px);
  }
  40%, 60% {
    transform: translateX(10px);
  }
}
</style>
