<template>
  <v-switch
    color="rgba(169, 166, 142, 0.9)"
    @change="toggleTheme"
    class="mt-6"
    append-icon="mdi-weather-night"
  ></v-switch>
</template>

<script>
import { useTheme } from 'vuetify';

export default {
  name: 'CustomSwitch',
  setup() {
    const theme = useTheme();
    let isDarkTheme = theme.global.current.value.dark;

    function toggleTheme() {
      isDarkTheme = !isDarkTheme
      theme.global.name.value = isDarkTheme ? 'dark' : 'light'
      // Сохраняем текущую тему в LocalStorage
      localStorage.setItem('theme', isDarkTheme ? 'dark' : 'light')
    }

    // Проверяем LocalStorage при загрузке страницы и устанавливаем тему, если она там сохранена
    const savedTheme = localStorage.getItem('theme')
    if (savedTheme) {
      theme.global.name.value = savedTheme
      isDarkTheme = savedTheme === 'dark'
    }

    return {
      toggleTheme,
    };
  },
};
</script>
