<template>
  <v-progress-circular
    color="dark-blue"
    indeterminate
    :size="178"
    :width="12"
  ><h2 class="font-weight-bold">Loading...</h2></v-progress-circular>
</template>

<script>
export default {
  name: "CustomCircular"
}
</script>

<style scoped>

</style>