<template>
  <v-text-field
    :label="label"
    :hint="hint"
    :prepend-inner-icon="icon"
    :rules="rules"
    v-model.trim="searchValue"
    variant="underlined"
    clearable
    counter
  ></v-text-field>
</template>

<script>
export default {
  name: 'CustomField',
  props: {
    value: String,
    label: String,
    icon: String,
    hint: String,
    rules: Object
  },
  computed: {
    searchValue: {
      get() {
        return this.value;
      },
      set(newValue) {
        this.$emit('input', newValue);
      },
    },
  },
};
</script>

<style scoped>

</style>