<template>
  <v-app>
    <v-main>
      <!--Горизонтальная навигация-->
      <v-app-bar
        color="black"
        scroll-behavior="fade-image inverted"
        scroll-threshold="300"
        image="https://free4kwallpapers.com/uploads/originals/2019/02/06/moon-wallpaper.jpg"
        class="right container"
      >

      <!--Кнопка выпада навигации-->
      <v-app-bar-nav-icon
        @click.stop="drawer = !drawer"
        class="hidden-md-and-up"
      ></v-app-bar-nav-icon>

      <!--Логотип-->
      <v-app-bar-title class="ma-1">
        <CustomLogo />
      </v-app-bar-title>

      <!--Навигационные кнопки-->
      <template v-slot:append>
        <!--Свичер тем-->
        <custom-switch />

        <!--Кнопки навигации-->
        <v-tabs class="hidden-sm-and-down">
          <v-tab color="white" class="font-weight-light" to="/">Home</v-tab>
          <v-tab color="white" class="font-weight-light" v-if="isLoggedIn" to="/menu">Menu</v-tab>
          <v-tab color="white" class="font-weight-light" v-if="isLoggedIn" to="/news">News</v-tab>
          <v-tab color="white" class="font-weight-light" v-if="isLoggedIn" to="/profile">Profile</v-tab>
          <v-tab color="white" class="font-weight-light" v-if="isLoggedIn" @click="logout">Logout</v-tab>
          <v-tab color="white" class="font-weight-light" v-else to="/login">Log in</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>

      <!--Вертикальная навигация-->
      <v-navigation-drawer
        v-model="drawer"
        fixed
        temporary
        color="black"
      >
        <v-list nav dense>
          <v-list-item>
            <v-tab color="white" class="font-weight-light" to="/">Home</v-tab>
          </v-list-item>
          <v-list-item v-if="isLoggedIn">
            <v-tab color="white" class="font-weight-light" to="/news">News</v-tab>
          </v-list-item>
          <v-list-item v-if="isLoggedIn">
            <v-tab color="white" class="font-weight-light" to="/students">Students</v-tab>
          </v-list-item>
          <v-list-item v-if="isLoggedIn">
            <v-tab color="white" class="font-weight-light" to="/profile">Profile</v-tab>
          </v-list-item>
          <v-list-item v-if="isLoggedIn" @click="logout">
            <v-tab color="white" class="font-weight-light">Logout</v-tab>
          </v-list-item>
          <v-list-item v-else>
            <v-tab color="white" class="font-weight-light" to="/login">Log in</v-tab>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

      <!--Нижняя панель навигации-->
      <bottom-navigation v-if="isLoggedIn" />
      <router-view/>
    </v-main>
    <scroll-up-button />
  </v-app>
</template>

<script>
import { computed, defineComponent, ref } from 'vue';
import { useStore } from 'vuex';
import ScrollUpButton from "@/components/ScrollUpButton";
import BottomNavigation from "@/components/BottomNavigation";

export default defineComponent({
  name: 'App',
  setup() {
    const store = useStore();
    const drawer = ref(false);
    store.commit('initializeStore');

    const isLoggedIn = computed(() => store.getters.isLoggedIn);

    const logout = () => {
      store.dispatch('logout');
    };

    return {
      isLoggedIn,
      logout,
      drawer,
    };
  },
  components: {
    BottomNavigation,
    ScrollUpButton,
  }
});
</script>

<style scoped>
</style>