<template>
  <!-- Заголовок "Есть посты / Нет постов" и закрепленные посты-->
  <template v-if="hasPosts">
    <h1 class="font-weight-light">The pinned news<v-icon size="x-small">mdi-pin-outline</v-icon></h1>
    <h1 class="font-weight-light">Latest news</h1>
  </template>

  <h1 v-else class="font-weight-light">There is no news</h1>
</template>

<script>
export default {
  name: "HeaderNews",
  props: {
    hasPosts: Boolean
  }
}
</script>

<style scoped>

</style>