<template>
  <v-row justify="center" no-gutters>
    <v-col cols="12" md="4" class="text-center">
      <v-form class="elevation-0 pa-4 mt-4" @submit.prevent="submitForm">
        <h1 class="font-weight-regular">Authorization</h1>

        <!--Сообщение об ошибке-->
        <custom-alert
          ref="alert"
          :show="error"
          icon="$warning"
          title="Incorrect data, try again!"
          type="error"
        />

        <!--Логин Пароль-->
        <custom-field :rules="[rules.required]" v-model="username" label="Username" />
        <custom-field :rules="[rules.required]" v-model="password" label="Password" type="password" />
        <custom-button>Log in</custom-button>

        <!--Предложение зарегистрироваться-->
        <v-row justify="center" class="ma-3">
          <h4 class="font-weight-medium">No account? <router-link to="/sign-up">Sign Up</router-link></h4>
        </v-row>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Login',
  data() {
    return {
      username: null,
      password: null,
      error: false,
      shake: false,
      rules: {
        required: value => !!value || 'Field is required',
      },
    }
  },
  methods: {
    ...mapActions(['login']),
    submitForm() {
      const formData = {
        username: this.username,
        password: this.password,
      };
      this.login(formData) // Вызываем экшен login с передачей данных для аутентификации
        .then(() => {
          if (this.$store.getters.isLoggedIn) {
            // Перенаправляем пользователя на другую страницу после успешной аутентификации
            this.$router.push('/');
          } else {
            this.error = true;
            this.$refs.alert.shakeAlert(); // Запускаем анимацию тряски при каждой новой ошибке
          }
        })
        .catch((error) => {
          console.error(`ошибка из компонента ${error}`);
        });
    },
  },
};
</script>