<template>
  <v-row justify="center" no-gutters>
    <v-col cols="12" md="4" class="text-center">
      <v-form @submit.prevent="submit" class="elevation-0 ma-2">
      <h1 class="font-weight-regular">Registration</h1>
        <custom-field :rules="[rules.required]" v-model="form.first_name" label="First name" />
        <custom-field :rules="[rules.required]" v-model="form.last_name" label="Last name" />
        <custom-field :rules="[rules.required]" v-model="form.group" label="Group" />
        <custom-field :rules="[rules.required]" v-model="form.email" type="email" label="Email" />
        <custom-field :rules="[rules.required]" v-model="form.username" label="Username" />
        <custom-field :rules="[rules.required]" v-model="form.password" type="password" label="Password" />
        <custom-field :rules="[rules.required]" v-model="form.confirmation_password" type="password" label="Password confirmation" />
        <custom-button>Sign up</custom-button>
        <h4 class="font-weight-medium mt-3">Already registered? <router-link to="/login">Log in</router-link></h4>
    </v-form>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: "sign-up",
  data() {
    return {
      form: {
        first_name: null,
        last_name: null,
        group: null,
        email: null,
        username: null,
        password: null,
        confirmation_password: null
      },
      rules: {
        required: value => !!value || 'Field is required',
      },
    }
  },
  computed: {
    ...mapGetters(['isRegistered'])
  },
  methods: {
  ...mapActions(['register']),
    submit() {
      this.register(this.form)
    }
  }
}
</script>

<style scoped>

</style>