<template>
  <v-container>
    <menu-list :menu-items="menuItems"></menu-list>
    <router-view></router-view>
  </v-container>
</template>

<script>
import { ref } from 'vue';
import MenuList from "@/views/menu/components/MenuList";
export default {
  name: "Menu",
  components: {MenuList},
  setup() {
    const menuItems = ref([
      { id: 1, title: 'Home', src: require('@/assets/menu_img/home.png'), to: '/' },
      { id: 2, title: 'Students', src: require('@/assets/menu_img/students.png'), to: '/students' },
      { id: 3, title: 'Stuff', src: require('@/assets/menu_img/stuff.png'), to: '/stuff' },
      { id: 4, title: 'Album', src: require('@/assets/menu_img/album.png'), to: '/album' },
      { id: 5, title: 'About', src: require('@/assets/menu_img/about.png'), to: '/about' },
      { id: 6, title: 'Support', src: require('@/assets/menu_img/support.png'), to: '/support' },
    ]);

    return {
      menuItems,
    }
  }
}
</script>

<style scoped>

</style>